/* CSS Reset Values */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--spaceblue)
}

button {
    font-size: 100%;
    font-family: inherit;
    background-color: inherit;
}


/* CSS Values - top to bottom */

:root {
    --spacegray: #2f2c2c;
    --spaceshipgray: #6d7f82;
    --spaceblue: rgb(0, 255, 255);
    margin: 20px;
}

body {
    background-color: var(--spacegray);
    color: var(--spaceblue)
}

.header-section {
    border-radius: 20px;
    padding: 10px;
}

header img {
    max-width: 30%;
    margin: auto;
    display: block;
}

h1 {
    font-size: 55px;
    text-align: center;
}

nav {
    margin: 5px;
}

.nav-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--spaceshipgray);
    border-radius: 20px;
    font-size: 20px;
}


h2 {
    font-size: 45px;
    text-align: center;
}

.about-me-container {
    background-color: var(--spaceshipgray);
    padding: 10px;
    border-radius: 20px;
    margin: auto;
}

.card1 {
    height: 200px;
    margin: auto;
    text-align: left;
    background-color: var(--spaceshipgray);
    margin-bottom: 5px;
    border-radius: 20px;
}

.card {
    height: 200px;
    margin: auto;
    text-align: left;
    background-color: var(--spaceshipgray);
    margin-bottom: 5px;
    border-radius: 20px;
}

h3 {
    background-color: var(--spacegray);
    display: inline-block;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 5px;
}

.contact-card {
        height: auto;
        padding: 20px;
        background-color: var(--spaceshipgray);
        margin-bottom: 5px;
        border-radius: 20px;
        display: block;
    }

    .resume-card {
        height: auto;
        padding: 20px;
        background-color: var(--spaceshipgray);
        margin-bottom: 5px;
        border-radius: 20px;
    }

    @media screen and (min-width: 768px) {
        .card-container {
            display: flex;
            flex-wrap: wrap;
        }
    }

    @media screen and (min-width: 768px) {
        .card {
            flex: 0 0 49%;
            max-width: 50%;
        }
    }

    @media screen and (min-width: 768px) {
        .card-top {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
    
    @media screen and (min-width: 992px) {
        .card-container  {
            display: flex;
            flex-wrap: wrap;
        }
    }

    @media screen and (min-width: 992px) {
        .card  {
            flex: 0 0 32%;
            max-width: 33%;
        }
    }

    @media screen and (min-width: 992px) {
        .card-top {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
