/* CSS Reset Values */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CSS Values - top to bottom */

:root {
    --spacegray: #2f2c2c;
    --spaceshipgray: #3c484844;
    --spaceblue: rgb(0, 255, 255);
    --galaxypink: rgb(249, 70, 255);
}

body {
    background-color: var(--spacegray);
    color: var(--spaceblue);
    font-family:'Courier New', Courier, monospace
}

.header-section {
    font-size: 5vw;
    text-align: end;
    padding: 10px;
    margin-bottom: 55px;
    margin-right: 20px;
}

.header-image {
    max-width: 30%;
    margin: auto;
    display: block;
    position: relative;
    top: 20px;
    left: 20px;
    border-radius: 25%;
}

.button-section {
    font-size: 20px;
    margin: 30px;
}

button {
    font-size: 100%;
    font-family: inherit;
    background-color: inherit;
    color: inherit;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    margin: 3px;
    background-color: var(--spaceshipgray);
}

a {
    text-decoration: none;
    color: var(--spaceblue);
    display: block;
}

h2 {
    font-size: 45px;
    text-align: center;
}

.content {
    background-color: var(--spaceshipgray);
    border-radius: 20px;
    padding: 20px;
    margin: 30px;
}

.card-container {
    margin: 30px;
}

.card {
    height: 200px;
    margin: auto;
    text-align: left;
    background-color: var(--spaceshipgray);
    margin-bottom: 5px;
    border-radius: 20px;
}

.card-top {
    height: 275px;
}

h3 {
    background-color: var(--spacegray);
    display: inline-block;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 13px;
}

.contact p {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    font-size: 15px;
}

span {
    font-size: 30px;
}


/* Background Images */

.background-image-1 {
    background-image: url("./css-images/recent.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
}

.background-image-2 {
    background-image: url("./css-images/study-guide.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
}

.background-image-3 {
    background-image: url("./css-images/html.webp");
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
}

.background-image-4 {
    background-image: url("./css-images/Node.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
}

.background-image-5 {
    background-image: url("./css-images/mern.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
}